  @font-face {
      font-family: nyala;
      src: url(nyala.ttf);
  }

  @font-face {
      font-family: gabriola;
      src: url(Gabriola.ttf);
  }

  *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: gabriola;
      background: #456990;
      overflow-x: hidden;
      padding-bottom: 50px;
      background-color: #25180F;
      background: url(podloga2.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
  }

  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .intro {
      background: #F45B69;
      padding: 100px 0;
  }

  .container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
  }

  h1 {
      font-size: 2.5rem;
  }

  /* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul {
      padding: 50px 0;
      box-shadow: 0px 0px;
  }

  .timeline ul li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: #fff;
  }

  .timeline ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
  }

  .timeline ul li .proz {
      position: relative;
      bottom: 0;
      width: 600px;
      padding: 15px;
      background: #DCD1BA;
  }

  .timeline ul li .proz::before {
      content: '';
      position: absolute;
      bottom: 7px;
      width: 0;
      height: 0;
      border-style: solid;
  }

  .timeline ul li:nth-child(odd) .proz {
      left: 45px;
  }

  .timeline ul li:nth-child(odd) .proz::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent;
  }

  .timeline ul li:nth-child(even) .proz {
      left: -639px;
  }

  .timeline ul li:nth-child(even) .proz::before {
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent #F45B69;
  }

  time {
      display: block;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 8px;
      text-align: left;
      font-family: nyala;
    cursor: pointer;
  }



  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

  /* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul li::after {
      transition: background .5s ease-in-out;
  }

  .timeline ul li.in-view::after {
      background: rgb(104, 0, 2);
  }

  .timeline ul li .proz {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
      text-align: justify;
  }

  .timeline ul li:nth-child(odd) .proz {
      transform: translate3d(200px, 0, 0);
  }

  .timeline ul li:nth-child(even) .proz {
      transform: translate3d(-200px, 0, 0);
  }

  .timeline ul li.in-view .proz {
      transform: none;
      visibility: visible;
      opacity: 1;
      box-shadow: 0px 0px 5px;
      border-radius: 5px;
  }

  /* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media screen and (max-width: 1366px) {
      time {
          font-size: 35px
      }
  }

  @media screen and (max-width: 1280px) {
      .timeline ul li .proz {
          width: 480px;
      }
      .timeline ul li:nth-child(even) div {
          left: -519px;
          /*250+45-6*/
      }
      time {font-size: 30px}
  }

  @media screen and (max-width: 1028px) {
      .timeline ul li .proz {
          width: 400px;
      }
      .timeline ul li:nth-child(even) .proz {
          left: -439px;
          /*250+45-6*/
      }
      time {
          font-size: 26px
      }
      .proz {
          font-size: 21px
      }
      .iks {
          font-size: 60px
      }
      .home {
          font-size: 30px
      }
      .w3-display-topleft {
          left: 1%;
          top: 1%;
      }
      .w3-display-topright {
          right: 1%;
          top: 1%;
      }
      h1 {
          font-size: 2rem
      }
  }

  @media screen and (max-width: 864px) {
      .timeline ul li {
          margin-left: 20px;
      }
      .timeline ul li .proz {
          width: calc(100vw - 91px);
      }
      .timeline ul li:nth-child(even) .proz {
          left: 45px;
      }
      .timeline ul li:nth-child(even) .proz::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent #F45B69 transparent transparent;
      }
      .proz {
          font-size: 20px;
      }
      .iks {
          font-size: 40px
      }
      .home {
          font-size: 20px
      }
  }

  @media screen and (max-width: 569px) {
      h1 {
          padding-top: 50px;
      }
  }