        html, body {
            margin: 50px;
            padding: 0;
            background-color: #25180F;
        }

        @font-face {
            font-family: nyala;
            src: url(nyala.ttf), url('Nyala-Regular.woff2') format('woff2'), url('Nyala-Regular.woff') format('woff');
        }

        @font-face {
            font-family: gabriola;
            src: url(Gabriola.ttf), url('Gabriola.woff2') format('woff2'), url('Gabriola.woff') format('woff');
        }

        strong {
            color: rgb(104, 0, 2);
        }

        .sredina {
            text-align: center
        }

        .pointer {
            cursor: pointer;
        }

area {
  display: block;
  cursor: pointer;
}

        #naslovnica {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            margin: auto;
            overflow: auto;
            height: 100%;
        }

        .naslov {
            font-family: nyala;
            text-transform: uppercase;
            color: rgb(104, 0, 2);
            font-weight: bold;
        }

        .tekst {
            font-family: gabriola;
            font-size: 27px;
            text-align: justify
        }

        .w3-container {
            height: 100%;
            display: table-cell;
            vertical-align: middle;
        }

        .slike-tekst {
            max-width: 100%;
            display: block;
            margin: auto;
        }

        .w3-modal {
            padding-top: 0;
        }

        .w3-modal-content {
            display: table;
        }

        .iks {
            color: rgb(104, 0, 2);
            font-family: nyala;
            font-size: 90px;
            line-height: 0.5;
            font-weight: 600;
            z-index: 1;
        }

        .iks:hover {
            background: none
        }

        .home {
            color: rgb(104, 0, 2);
            font-family: nyala;
            font-size: 60px;
            line-height: 0.5;
            font-weight: 600;
            /*position: fixed;*/
        }

        .w3-animate-zoom-out {
            animation: animatezoom2 0.6s;
        }

        @keyframes animatezoom2 {
            from {
                transform: scale(1)
            }
            to {
                transform: scale(0)
            }
        }

        @media (min-width: 993px) {
            .w3-modal-content {
                width: 1200px;
            }
        }

        .prozor {
            background: #d6cab2;
            position: fixed;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 5px;
        }

        .ikona {
            font-size: 60px;
            cursor: pointer;
        }

        .ikona:hover {
            color: rgb(104, 0, 2)
        }

        .crvena {
            color: rgb(104, 0, 2)
        }

        .ikona:active {
            color: rgb(104, 0, 2)
        }

        p:first-letter {
            color: rgb(104, 0, 2);
            float: left;
            font-size: 75px;
            line-height: 30px;
            padding-top: 4px;
            padding-right: 8px;
            padding-left: 3px;
        }

        .poravnaj {
            display: block;
            margin: auto;
        }

        .lijevi-div {
            width: 50%;
            float: left;
        }

        .desni-div {
            width: 50%;
            float: right;
        }

        .html5-title-caption, .html5-title-prefix {
            font-family: gabriola;
            font-size: 27px;
        }

        .html5-elem-data-box {
            max-height: none !important
        }

        .html5-elem-wrap, .html5-elem-data-box {
            background-color: rgb(214, 202, 178) !important
        }

        .html5-elem-box {
            border-radius: 5px
        }

        .trisestpet {
            text-align: right
        }

        .w3-display-topleft {
            top: 1%;
            left: 1%;
            z-index: 1;
        }

        .siroki {
            width: 1800px;
        }

        .siroki2 {
            width: 1400px;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 300px minmax(200px, 1fr) 600px;
        }

        .wrapper-2 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(300px, 500px) minmax(300px, 1fr);
        }

        .wrapper-3 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 500px);
        }

        .wrapper-4 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
        }

        .wrapper-5 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        }

        .wrapper-6 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
        }

        .wrapper-7 {
            grid-gap: 10px;
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-template-columns: minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 300px);
        }

        .wrapper-8 {
            grid-gap: 10px;
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
        }

        .wrapper-9 {
            grid-gap: 10px;
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 400px 400px minmax(300px, 1fr);
        }

        .wrapper-10 {
            grid-gap: 5px;
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        }

        .wrapper-11 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(600, 1fr) minmax(200px, 300px);
        }

        .wrapper-12 {
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(1200px, 1fr) minmax(300px, 1fr);
        }

        .box {
            flex: 2;
            padding: 20px;
            font-size: 150%;
        }

        .c {
            position: relative;
        }

        .box ul {
            list-style-type: none;
            color: rgb(104, 0, 2);
        }

        .box ul li {
            font-size: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: underline;
        }

        .accordion {}

        .accordion .link {
            cursor: pointer;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            font-family: nyala;
            font-size: 32px;
        }

        .accordion li:last-child .link {
            border-bottom: 0;
        }

        .accordion li i {
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .accordion li i.fa-chevron-down {
            font-size: 25px;
        }

        .accordion li.open i {}

        .accordion li.open i.fa-chevron-down {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .link i.fa-chevron-down {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }

        .accordion li.default .submenu {
            display: block;
        }

        /**
 * Submenu
 -----------------------------*/

        .submenu {
            display: none;
        }

        .submenu li {
            /*  border-bottom: 1px solid #4b4a5e;*/
        }

        .submenu a {
            display: block;
            text-decoration: none;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            font-size: 27px;
            font-family: nyala;
        }

        .spasi {
            font-size: 32px;
        }

        .mini a {
            font-size: 20px;
        }

        .skroler1 {
            overflow-y: auto;
            height: 400px;
            padding-right: 8px;
        }

        .skroler1::-webkit-scrollbar {
            width: 15px;
        }

        .skroler1::-webkit-scrollbar-thumb {
            background: rgb(104, 0, 2);
        }

        .skroler1::-webkit-scrollbar-track {
            background: #ddd;
        }

        .skroler1::-webkit-scrollbar-button {
            background: rgb(104, 0, 2);
            height: 15px;
            border-radius: 50%;
        }

        .skroler2 {
            overflow-y: auto;
            height: 600px;
            padding-right: 8px;
        }

        .skroler2::-webkit-scrollbar {
            width: 15px;
        }

        .skroler2::-webkit-scrollbar-thumb {
            background: rgb(104, 0, 2);
        }

        .skroler2::-webkit-scrollbar-track {
            background: #ddd;
        }

        .skroler2::-webkit-scrollbar-button {
            background: rgb(104, 0, 2);
            height: 15px;
            border-radius: 50%;
        }

        .html5-title-prefix {
            color: rgb(104, 0, 2) !important;
        }

        .lightboxcontainer {
            width: 100%;
            text-align: left;
        }

        .lightboxleft {
            width: 40%;
            float: left;
        }

        .lightboxright {
            width: 60%;
            float: left;
        }

        .lightboxright iframe {
            min-height: 390px;
        }

        .divtext {
            margin: 36px;
        }

        /*  SECTIONS  */

        .section {
            clear: both;
            padding: 0px;
            margin: 0px;
        }

        /*  COLUMN SETUP  */

        .col {
            display: block;
            float: left;
            margin: 1% 0 1% 1.2%;
        }

        .col:first-child {
            margin-left: 0;
            padding-left: 1%;
        }

        /*  GROUPING  */

        .group:before, .group:after {
            content: "";
            display: table;
        }

        .group:after {
            clear: both;
        }

        .group {
            zoom: 1;
            /* For IE 6/7 */
        }

        /*  GRID OF TWO  */

        .span_2_of_2 {
            width: 100%;
        }

        .span_1_of_2 {
            width: 49.2%;
        }

        .span_1_of_2t:nth-child(1) {
            width: 24.2%;
        }

        .span_1_of_2t:nth-child(2) {
            width: 74.2%;
        }

        .span_3_of_3 {
            width: 100%;
        }

        .span_2_of_3 {
            width: 66.26%;
        }

        .span_1_of_3 {
            width: 32.53%;
        }

        .span_1_of_3:nth-child(1) {
            width: 20%;
            color: rgb(104, 0, 2);
        }

        .span_1_of_3:nth-child(2) {
            width: 40%;
        }

        .span_1_of_3:nth-child(3) {
            width: 36%;
        }

        .span_3_of_3t {
            width: 100%;
        }

        .span_2_of_3t {
            width: 66.26%;
        }

        .span_1_of_3t {
            width: 32.53%;
        }

        /*  GO FULL WIDTH BELOW 480 PIXELS */

        .prvi_span {
            height: 900px;
            overflow: auto;
            padding-right: 10px
        }

        .skroler_potreba {
            height: initial;
            overflow: initial;
            padding-right: initial
        }

        .skroler_potreba2 {
            height: initial;
            overflow: initial;
            padding-right: initial
        }

        .skroler_potreba3 {
            height: initial;
            overflow: initial;
            padding-right: initial
        }

        .skroler_potreba4 {
            height: initial;
            overflow: initial;
            padding-right: initial
        }

        .slika-smanji {
            max-height: 400px
        }

        .slika-smanji2 {
            max-height: 400px
        }

        .slika-smanji4 {
            max-height: 800px
        }

        .linkovi, .linkovi2 {
            overflow: auto;
            font-family: nyala;
            padding-top: 0;
            font-size: 32px;
            text-decoration: underline;
            cursor: pointer;
            color: rgb(104, 0, 2);
        }

        .resp-container {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;
        }

        .resp-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }

        .podlink {
            font-size: 25px;
            list-style-position: inside;
            list-style-type: circle;
        }

        .prvi_span2 {
            height: 400px;
            overflow: auto;
            padding-right: 10px
        }

        .prvi_span3 {
            height: 800px;
            overflow: auto;
            padding-right: 10px
        }

        .prvi_spanm {
            height: 200px;
            overflow: auto;
            padding-right: 10px
        }

        .span_6_of_6 {
            width: 100%;
        }

        .span_5_of_6 {
            width: 83.16%;
        }

        .span_4_of_6 {
            width: 66.33%;
        }

        .span_3_of_6 {
            width: 49.5%;
        }

        .span_2_of_6 {
            width: 32.66%;
        }

        .span_1_of_6 {
            width: 15.83%;
            margin-left: 0.5%;
        }

        .span_5_of_5 {
            width: 100%;
        }

        .span_4_of_5 {
            width: 79.8%;
        }

        .span_3_of_5 {
            width: 59.6%;
        }

        .span_2_of_5 {
            width: 39.4%;
        }

        .span_1_of_5 {
            width: 19.2%;
            margin-left: 0.5%;
        }

        .galerija {
            max-height: 120px
        }

        .span_4_of_4 {
            width: 100%;
        }

        .span_3_of_4 {
            width: 74.7%;
        }

        .span_2_of_4 {
            width: 49.4%;
        }

        .span_1_of_4 {
            width: 24.1%;
        }

        /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

        @media screen and (max-width: 1800px) {
            .prvi_span {
                height: 620px !important;
            }
            .prvi_span3 {
                height: 400px !important;
            }
            .prvi_span2 {
                height: 400px !important;
            }
            .iznimka {
                height: 200px !important;
            }
            .slika-smanji {
                max-height: 250px
            }
            .slika-smanji2 {
                max-height: 150px
            }
            .slika-smanji3 {
                max-height: 250px
            }
            .slika-smanji4 {
                max-height: 500px
            }
            .visina2 {
                max-height: 150px !important;
            }
            .span_1_of_2t:nth-child(1) {
                width: 29.2%;
            }
            .span_1_of_2t:nth-child(2) {
                width: 69.2%;
            }
            .siroki, .siroki2 {
                width: 1200px
            }
            .skroler_potreba {
                height: 600px !important;
                overflow: auto;
                padding-right: 10px
            }
            .skroler_potreba2 {
                height: 300px !important;
                overflow: auto;
                padding-right: 10px
            }
            .skroler_potreba3 {
                height: 250px !important;
                overflow: auto;
                padding-right: 10px
            }
            .skroler_potreba4 {
                height: 500px !important;
                overflow: auto;
                padding-right: 10px
            }
            .linkovi, .linkovi2 {
                font-size: 20px !important;
            }
            .podlink, .submenu a {
                font-size: 20px;
                padding-left: 15px;
            }
            .tekst {
                font-size: 24px
            }
            .smanji_sliku {
                max-height: 500px
            }
            .html5-title-caption, .html5-title-prefix {
                font-size: 24px
            }
            .galerija {
                max-height: 90px;
            }
            .accordion li i.fa-chevron-down {
                font-size: 15px
            }
            .slikica3 {
                height: 250px;
            }
        }

        @media screen and (max-width: 1366px) {
            body, html {
                margin: 20px;
            }
        }

        @media screen and (max-width: 1170px) {
            .slika-smanji, .slika-smanji2, .slika-smanji3, .slika-smanji4,.visina2 {
                height: initial !important;
                max-height: initial !important;
            }
            .lightboxleft {
                width: 100%;
            }
            .lightboxright {
                width: 100%;
            }
            .divtext {
                margin: 12px;
            }
            .col {
                margin: 1% 0 1% 0%;
            }
            .span_2_of_2, .span_1_of_2 {
                width: 100%;
            }
            body, html {
                margin: initial;
            }
            .prvi_span, .skroler_potreba, .skroler_potreba2, .skroler_potreba4, .skroler_potreba3, .prvi_span2, .prvi_span3, .prvi_span4, .galerija {
                height: initial !important;
            }
            .prozor {
                position: initial;
                transform: translate(0%, 0%);
                top: 0%;
                left: 0%;
            }
            .tekst {
                padding-right: 10px
            }
            .siroki, .siroki2 {
                width: initial;
            }
            .span_3_of_3, .span_2_of_3, .span_1_of_3 {
                width: 100% !important;
            }
            .linkovi, .linkovi2 {
                font-size: 32px;
            }
            .podlink {
                font-size: 16px;
                padding-left: 20px;
            }
            .submenu {
                padding: 0px !important
            }
            .smanji_sliku {
                max-height: initial
            }
            .span_3_of_3t, .span_2_of_3t, .span_1_of_3t {
                width: 100%;
            }
            .w3-modal-content {
                display: block;
            }
            .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 {
                width: 100%;
            }
            .span_1_of_2t {
                width: 100% !important;
            }
            .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 {
                width: 100%;
            }
            .html5-title-caption, .html5-title-prefix {
                font-size: 20px
            }
            .galerija {
                max-height: initial;
                box-shadow: 0 0 5px;
            }
            .slikica, .slikica2, .slikica3, .slikica4 {
                height: initial !important;
                max-width: 100%;
                max-height: initial !important;
            }
            .col {
                margin: 1% 0 1% 0%;
            }
            .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
                width: 100%;
            }
            #naslovnica {
                height: initial
            }
        }

        @media screen and (max-width: 600px) {
            .home, .iks {
                font-size: 40px
            }
            .w3-display-topleft {
                left: 2%;
                top: 2%;
            }
            .w3-display-topright {
                right: 1%;
                top: 1%;
            }
        }