 @font-face {
            font-family: nyala;
            src: url(nyala.ttf);
        }
        
        @font-face {
            font-family: gabriola;
            src: url(Gabriola.ttf);
        }

/* brandico */

[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;height: 100%;position: fixed;top: 0;left: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
}

a {
     color: rgb(104, 0, 2);
}

.brojevi {
    font-size: 10vmin;
    font-size: 10vm;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0px 0px 5px rgba(150, 154, 0, 1);
         color: rgb(104, 0, 2);
}

.ikone {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 5px;
}

body {
    min-height: 100%;
    font-family: gabriola;
}

.time {
    text-align: center;
    font-weight: 600;


}

.wrap {
    position: relative;
    height: 100%;
    min-height: 500px;
    padding-bottom: 20px;
}

.game {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 500px;
    perspective: 500px;
    min-height: 100%;
    height: 100%;
        padding-bottom: 70px;
}

@-webkit-keyframes matchAnim {
    0% {
        background: #bcffcc;
    }
    100% {
        background: white;
    }
}

@keyframes matchAnim {
    0% {
        background: #bcffcc;
    }
    100% {
        background: white;
    }
}

.card {
    float: left;
    width: 20%;
    height: 25%;
    padding: 5px;
    text-align: center;
    display: block;
    -webkit-perspective: 500px;
    perspective: 500px;
    position: relative;
    cursor: pointer;
    z-index: 50;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 800px) {
    .card {
        width: 25%;
        height: 20%;
    }
}

.card .inside {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    background: white;
}

.back {
    background: url("kartica.jpg") no-repeat center center;
    -webkit-background-size: cover;height: 100%;position: fixed;top: 0;left: 0;
    -moz-background-size: cover;height: 100%;position: fixed;top: 0;left: 0;
    -o-background-size: cover;height: 100%;position: fixed;top: 0;left: 0;
    background-size: cover;height: 100%;position: fixed;top: 0;left: 0;
}


}
.front {
    background: #efebe9;
}
.card .inside.picked,
.card .inside.matched {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card .inside.matched {
    -webkit-animation: 1s matchAnim ease-in-out;
    animation: 1s matchAnim ease-in-out;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.card {
    -webkit-touch-callout: none;
    /* iOS Safari */
    
    -webkit-user-select: none;
    /* Safari */
    
    -khtml-user-select: none;
    /* Konqueror HTML */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    
    user-select: none;
}
.card .front,
.card .back {
    border: 1px solid black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.card .front img,
.card .back img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.card .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
@media (max-width: 800px) {
    .card .front {
        padding: 5px;
    }
}
@media (max-width: 800px) {
    .card .back {
        padding: 10px;
    }
}
.modal-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal {
    display: none;
    position: relative;
    width: 700px;
    max-height: 90%;
    max-width: 90%;
    min-height: 380px;
    margin: 0 auto;
    background: rgb(214, 202, 178);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px 10px;
    border-radius: 20px;
}
.modal .winner {
    font-size: 80px;
    text-align: center;
    font-family: nyala;
    color: rgb(104, 0, 2);
    text-shadow: 0px 3px 0 black;
}
@media (max-width: 480px) {
    .modal .winner {
        font-size: 60px;
    }
}
.modal .restart {
    font-family: gabriola;
    margin: 30px auto;
    padding: 20px 30px;
    display: block;
    font-size: 30px;
    border: none;
    background: rgb(104, 0, 2);;
    border: 1px solid #222;
    border-radius: 5px;
    color: white;

    cursor: pointer;
}
.modal .restart:hover {
   
}
.modal .message {
    text-align: center;
}
.modal .message a {
    text-decoration: none;
    color: #28afe6;
    font-weight: bold;
}
.modal .message a:hover {
    color: #56c0eb;
    border-bottom: 1px dotted #56c0eb;
}
.modal .share-text {
    text-align: center;
    margin: 10px auto;
}
.modal .social {
    margin: 20px auto;
    text-align: center;
}
.modal .social li {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.modal .social li:last-child {
    margin-right: 0;
}
.modal .social li a {
    display: block;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.modal .social li a.facebook {
    background: #3b5998;
}
.modal .social li a.facebook:hover {
    background: #4c70ba;
}
.modal .social li a.google {
    background: #D34836;
}
.modal .social li a.google:hover {
    background: #dc6e60;
}
.modal .social li a.twitter {
    background: #4099FF;
}
.modal .social li a.twitter:hover {
    background: #73b4ff;
}
footer {
   
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
footer .disclaimer {
    
    font-size: 50px;
 
    text-align: center;
         color: rgb(104, 0, 2);
}
.disclamer a{ color: rgb(104, 0, 2);}

@media (max-width: 767px) {
    footer .disclaimer {
        font-size: 20px;
    }
    .game{padding-bottom: 10px}
}
@media (max-width: 800px) {
    .modal .restart {
        font-size: 20px;
        padding: 10px 15px;
    }
    
    .modal .winner {
        font-size: 30px;
        text-shadow: 0px 2px 0 black;
    }
}
@media (max-width: 300px) {
    .modal .winner {
        font-size: 30px;
    }
    
    .modal .restart {
       
        margin: 15px auto;
        padding: 10px 15px;
        display: block;
        border: none;
        background: rgb(104, 0, 2);
        border: 1px solid #222;
        border-radius: 5px;
        cursor: pointer;
    }
}

}